.nav {
  padding: 0px 18px;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
}

.button {
  border-radius: 6px;
  padding: 8px 10px;
  background-color: gray;
  box-sizing: border-box;
  border: none;
}

.button:hover {
  background-color: white;
}
